[run]
omit = /usr/lib/python2.7/site-packages/_pytest/*, /usr/lib/python2.7/site-packages/pluggy/*, /usr/lib/python2.7/site-packages/py/*, /usr/lib/python2.7/site-packages/pytest_cov/*, .zguest/*, /usr/lib/python2.7/site-packages/importlib_metadata/*, /usr/lib/python2.7/site-packages/pathlib2/*
