*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.history
zstack.log
*~

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
kvmagent/puppet/kvmpuppet/files/*
*.swp
*management-server.log
test-result
.idea/*
*.iml
zstackbuild/centos6_repo.tgz
zstackbuild/centos6_repo/
zstackbuild/centos7_repo.tgz
zstackbuild/centos7_repo/
centos6_repo
centos7_repo
zstackbuild/scripts/setup.sh
apibinding/apibinding/api_actions.py
apibinding/apibinding/inventory.py
*.orig
.pydevproject
.project
pypi_deps.json
