default inspect
prompt 0

label inspect
kernel vmlinuz
ipappend 2
append initrd=initrd.img devfs=nomount ksdevice=bootif ks={{ inspect_ks_uri }} nofb nomodeset vga=normal console=tty0 console=ttyS1,115200n8
