#!ipxe

goto boot_iscsi

:boot_iscsi
imgfree

goto retry_boot

:retry_boot
kernel --timeout 30000 {{ inspect_kernel_uri }} devfs=nomount ksdevice=bootif ks={{ import_data_ks_cfg_uri }} initrd=initrd.img nofb nomodeset vga=normal console=tty0 console=ttyS1,115200n8 BOOTIF=01-${netX/mac} rhgb quiet || goto retry_boot
initrd {{ inspect_initrd_uri }} --timeout 30000 || goto retry_boot

boot

goto boot_iscsi
