# coding: utf-8

"""
    XMS API

    XMS is the controller of distributed storage system  # noqa: E501

    OpenAPI spec version: SDS_4.2.300.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from zstacklib.utils.xms_client.api_client import ApiClient


class AccessPathsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_access_path(self, access_path, **kwargs):  # noqa: E501
        """create_access_path  # noqa: E501

        Create an access path  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_access_path(access_path, async=True)
        >>> result = thread.get()

        :param async bool
        :param AccessPathCreateReq access_path: access path info (required)
        :return: AccessPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_access_path_with_http_info(access_path, **kwargs)  # noqa: E501
        else:
            (data) = self.create_access_path_with_http_info(access_path, **kwargs)  # noqa: E501
            return data

    def create_access_path_with_http_info(self, access_path, **kwargs):  # noqa: E501
        """create_access_path  # noqa: E501

        Create an access path  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_access_path_with_http_info(access_path, async=True)
        >>> result = thread.get()

        :param async bool
        :param AccessPathCreateReq access_path: access path info (required)
        :return: AccessPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_path']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_access_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'access_path' is set
        if ('access_path' not in params or
                params['access_path'] is None):
            raise ValueError("Missing the required parameter `access_path` when calling `create_access_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'access_path' in params:
            body_params = params['access_path']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/access-paths/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AccessPathResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_access_path(self, access_path_id, **kwargs):  # noqa: E501
        """delete_access_path  # noqa: E501

        Delete access path  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_access_path(access_path_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int access_path_id: access path id (required)
        :return: AccessPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_access_path_with_http_info(access_path_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_access_path_with_http_info(access_path_id, **kwargs)  # noqa: E501
            return data

    def delete_access_path_with_http_info(self, access_path_id, **kwargs):  # noqa: E501
        """delete_access_path  # noqa: E501

        Delete access path  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_access_path_with_http_info(access_path_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int access_path_id: access path id (required)
        :return: AccessPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_path_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_access_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'access_path_id' is set
        if ('access_path_id' not in params or
                params['access_path_id'] is None):
            raise ValueError("Missing the required parameter `access_path_id` when calling `delete_access_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'access_path_id' in params:
            path_params['access_path_id'] = params['access_path_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/access-paths/{access_path_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AccessPathResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_access_path(self, access_path_id, **kwargs):  # noqa: E501
        """get_access_path  # noqa: E501

        Get access path by id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_access_path(access_path_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int access_path_id: access path id (required)
        :return: AccessPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_access_path_with_http_info(access_path_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_access_path_with_http_info(access_path_id, **kwargs)  # noqa: E501
            return data

    def get_access_path_with_http_info(self, access_path_id, **kwargs):  # noqa: E501
        """get_access_path  # noqa: E501

        Get access path by id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_access_path_with_http_info(access_path_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int access_path_id: access path id (required)
        :return: AccessPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_path_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_access_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'access_path_id' is set
        if ('access_path_id' not in params or
                params['access_path_id'] is None):
            raise ValueError("Missing the required parameter `access_path_id` when calling `get_access_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'access_path_id' in params:
            path_params['access_path_id'] = params['access_path_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/access-paths/{access_path_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AccessPathResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_access_paths(self, **kwargs):  # noqa: E501
        """list_access_paths  # noqa: E501

        List access paths  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_access_paths(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str q: query param of search
        :param int client_group_id: related client group id
        :param bool all: show all access targets
        :return: AccessPathsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_access_paths_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_access_paths_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_access_paths_with_http_info(self, **kwargs):  # noqa: E501
        """list_access_paths  # noqa: E501

        List access paths  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_access_paths_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str q: query param of search
        :param int client_group_id: related client group id
        :param bool all: show all access targets
        :return: AccessPathsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'q', 'client_group_id', 'all']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_access_paths" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'client_group_id' in params:
            query_params.append(('client_group_id', params['client_group_id']))  # noqa: E501
        if 'all' in params:
            query_params.append(('all', params['all']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/access-paths/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AccessPathsResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_access_path(self, access_path_id, access_path, **kwargs):  # noqa: E501
        """update_access_path  # noqa: E501

        update access path  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_access_path(access_path_id, access_path, async=True)
        >>> result = thread.get()

        :param async bool
        :param int access_path_id: access path id (required)
        :param AccessPathUpdateReq access_path: access path info (required)
        :return: AccessPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_access_path_with_http_info(access_path_id, access_path, **kwargs)  # noqa: E501
        else:
            (data) = self.update_access_path_with_http_info(access_path_id, access_path, **kwargs)  # noqa: E501
            return data

    def update_access_path_with_http_info(self, access_path_id, access_path, **kwargs):  # noqa: E501
        """update_access_path  # noqa: E501

        update access path  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_access_path_with_http_info(access_path_id, access_path, async=True)
        >>> result = thread.get()

        :param async bool
        :param int access_path_id: access path id (required)
        :param AccessPathUpdateReq access_path: access path info (required)
        :return: AccessPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_path_id', 'access_path']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_access_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'access_path_id' is set
        if ('access_path_id' not in params or
                params['access_path_id'] is None):
            raise ValueError("Missing the required parameter `access_path_id` when calling `update_access_path`")  # noqa: E501
        # verify the required parameter 'access_path' is set
        if ('access_path' not in params or
                params['access_path'] is None):
            raise ValueError("Missing the required parameter `access_path` when calling `update_access_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'access_path_id' in params:
            path_params['access_path_id'] = params['access_path_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'access_path' in params:
            body_params = params['access_path']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/access-paths/{access_path_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AccessPathResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
