# coding: utf-8

"""
    XMS API

    XMS is the controller of distributed storage system  # noqa: E501

    OpenAPI spec version: SDS_4.2.300.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from zstacklib.utils.xms_client.api_client import ApiClient


class DisksApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_partitions(self, disk_id, body, **kwargs):  # noqa: E501
        """create_partitions  # noqa: E501

        create cache partitions for disk  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_partitions(disk_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :param PartitionsCreateReq body: partitions info (required)
        :param int num: num of partitions to create
        :return: DiskResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_partitions_with_http_info(disk_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_partitions_with_http_info(disk_id, body, **kwargs)  # noqa: E501
            return data

    def create_partitions_with_http_info(self, disk_id, body, **kwargs):  # noqa: E501
        """create_partitions  # noqa: E501

        create cache partitions for disk  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_partitions_with_http_info(disk_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :param PartitionsCreateReq body: partitions info (required)
        :param int num: num of partitions to create
        :return: DiskResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['disk_id', 'body', 'num']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_partitions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'disk_id' is set
        if ('disk_id' not in params or
                params['disk_id'] is None):
            raise ValueError("Missing the required parameter `disk_id` when calling `create_partitions`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_partitions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'disk_id' in params:
            path_params['disk_id'] = params['disk_id']  # noqa: E501

        query_params = []
        if 'num' in params:
            query_params.append(('num', params['num']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/disks/{disk_id}/partitions', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiskResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_partitions(self, disk_id, **kwargs):  # noqa: E501
        """delete_partitions  # noqa: E501

        delete cache partitions of disk  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_partitions(disk_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :return: DiskResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_partitions_with_http_info(disk_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_partitions_with_http_info(disk_id, **kwargs)  # noqa: E501
            return data

    def delete_partitions_with_http_info(self, disk_id, **kwargs):  # noqa: E501
        """delete_partitions  # noqa: E501

        delete cache partitions of disk  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_partitions_with_http_info(disk_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :return: DiskResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['disk_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_partitions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'disk_id' is set
        if ('disk_id' not in params or
                params['disk_id'] is None):
            raise ValueError("Missing the required parameter `disk_id` when calling `delete_partitions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'disk_id' in params:
            path_params['disk_id'] = params['disk_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/disks/{disk_id}/partitions', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiskResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_disk(self, disk_id, **kwargs):  # noqa: E501
        """get_disk  # noqa: E501

        Get a disk  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_disk(disk_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :return: DiskResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_disk_with_http_info(disk_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_disk_with_http_info(disk_id, **kwargs)  # noqa: E501
            return data

    def get_disk_with_http_info(self, disk_id, **kwargs):  # noqa: E501
        """get_disk  # noqa: E501

        Get a disk  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_disk_with_http_info(disk_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :return: DiskResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['disk_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_disk" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'disk_id' is set
        if ('disk_id' not in params or
                params['disk_id'] is None):
            raise ValueError("Missing the required parameter `disk_id` when calling `get_disk`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'disk_id' in params:
            path_params['disk_id'] = params['disk_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/disks/{disk_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiskResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_disk_samples(self, disk_id, **kwargs):  # noqa: E501
        """get_disk_samples  # noqa: E501

        get a disk's samples  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_disk_samples(disk_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :param str duration_begin: duration begin timestamp
        :param str duration_end: duration end timestamp
        :param str period: samples period
        :return: DiskSamplesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_disk_samples_with_http_info(disk_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_disk_samples_with_http_info(disk_id, **kwargs)  # noqa: E501
            return data

    def get_disk_samples_with_http_info(self, disk_id, **kwargs):  # noqa: E501
        """get_disk_samples  # noqa: E501

        get a disk's samples  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_disk_samples_with_http_info(disk_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :param str duration_begin: duration begin timestamp
        :param str duration_end: duration end timestamp
        :param str period: samples period
        :return: DiskSamplesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['disk_id', 'duration_begin', 'duration_end', 'period']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_disk_samples" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'disk_id' is set
        if ('disk_id' not in params or
                params['disk_id'] is None):
            raise ValueError("Missing the required parameter `disk_id` when calling `get_disk_samples`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'disk_id' in params:
            path_params['disk_id'] = params['disk_id']  # noqa: E501

        query_params = []
        if 'duration_begin' in params:
            query_params.append(('duration_begin', params['duration_begin']))  # noqa: E501
        if 'duration_end' in params:
            query_params.append(('duration_end', params['duration_end']))  # noqa: E501
        if 'period' in params:
            query_params.append(('period', params['period']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/disks/{disk_id}/samples', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiskSamplesResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_disks(self, **kwargs):  # noqa: E501
        """list_disks  # noqa: E501

        List all pyhsical disks in the system  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_disks(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param int host_id: host id
        :param bool is_cache: filter cache disk
        :param bool used: filter used
        :param str q: query param of search
        :param str sort: sort param of search
        :param str device: device name of disk
        :param str disk_type: disk type
        :param str status: disk status
        :param str order_by: sort param without search, split with comma, e.g. -host.name
        :return: DisksResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_disks_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_disks_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_disks_with_http_info(self, **kwargs):  # noqa: E501
        """list_disks  # noqa: E501

        List all pyhsical disks in the system  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_disks_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param int host_id: host id
        :param bool is_cache: filter cache disk
        :param bool used: filter used
        :param str q: query param of search
        :param str sort: sort param of search
        :param str device: device name of disk
        :param str disk_type: disk type
        :param str status: disk status
        :param str order_by: sort param without search, split with comma, e.g. -host.name
        :return: DisksResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'host_id', 'is_cache', 'used', 'q', 'sort', 'device', 'disk_type', 'status', 'order_by']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_disks" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'host_id' in params:
            query_params.append(('host_id', params['host_id']))  # noqa: E501
        if 'is_cache' in params:
            query_params.append(('is_cache', params['is_cache']))  # noqa: E501
        if 'used' in params:
            query_params.append(('used', params['used']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'device' in params:
            query_params.append(('device', params['device']))  # noqa: E501
        if 'disk_type' in params:
            query_params.append(('disk_type', params['disk_type']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('order_by', params['order_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/disks/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DisksResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_disk(self, disk_id, disk, **kwargs):  # noqa: E501
        """update_disk  # noqa: E501

        update disk info  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_disk(disk_id, disk, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :param DiskUpdateReq disk: disk info (required)
        :return: DiskResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_disk_with_http_info(disk_id, disk, **kwargs)  # noqa: E501
        else:
            (data) = self.update_disk_with_http_info(disk_id, disk, **kwargs)  # noqa: E501
            return data

    def update_disk_with_http_info(self, disk_id, disk, **kwargs):  # noqa: E501
        """update_disk  # noqa: E501

        update disk info  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_disk_with_http_info(disk_id, disk, async=True)
        >>> result = thread.get()

        :param async bool
        :param int disk_id: disk id (required)
        :param DiskUpdateReq disk: disk info (required)
        :return: DiskResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['disk_id', 'disk']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_disk" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'disk_id' is set
        if ('disk_id' not in params or
                params['disk_id'] is None):
            raise ValueError("Missing the required parameter `disk_id` when calling `update_disk`")  # noqa: E501
        # verify the required parameter 'disk' is set
        if ('disk' not in params or
                params['disk'] is None):
            raise ValueError("Missing the required parameter `disk` when calling `update_disk`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'disk_id' in params:
            path_params['disk_id'] = params['disk_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'disk' in params:
            body_params = params['disk']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/disks/{disk_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiskResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
