# coding: utf-8

"""
    XMS API

    XMS is the controller of distributed storage system  # noqa: E501

    OpenAPI spec version: SDS_4.2.300.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from zstacklib.utils.xms_client.api_client import ApiClient


class DpSitesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_dp_site(self, body, **kwargs):  # noqa: E501
        """create_dp_site  # noqa: E501

        Create a data protection site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_dp_site(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param DpSiteCreateReq body: dp site info (required)
        :return: DpSiteResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_dp_site_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_dp_site_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_dp_site_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_dp_site  # noqa: E501

        Create a data protection site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_dp_site_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param DpSiteCreateReq body: dp site info (required)
        :return: DpSiteResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_dp_site" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_dp_site`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-sites/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DpSiteResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_dp_site(self, site_id, **kwargs):  # noqa: E501
        """delete_dp_site  # noqa: E501

        Delete data protection site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_dp_site(site_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_dp_site_with_http_info(site_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_dp_site_with_http_info(site_id, **kwargs)  # noqa: E501
            return data

    def delete_dp_site_with_http_info(self, site_id, **kwargs):  # noqa: E501
        """delete_dp_site  # noqa: E501

        Delete data protection site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_dp_site_with_http_info(site_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_dp_site" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_id' is set
        if ('site_id' not in params or
                params['site_id'] is None):
            raise ValueError("Missing the required parameter `site_id` when calling `delete_dp_site`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'site_id' in params:
            path_params['site_id'] = params['site_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-sites/{site_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_backup_block_snapshots(self, site_id, dp_gateway_id, cluster_fs_id, block_volume_name, **kwargs):  # noqa: E501
        """get_backup_block_snapshots  # noqa: E501

        List snapshots of a volume stored on a dp site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_backup_block_snapshots(site_id, dp_gateway_id, cluster_fs_id, block_volume_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :param int dp_gateway_id: the dp gateway to execute the query (required)
        :param str cluster_fs_id: cluster fs id (required)
        :param str block_volume_name: block volume name (required)
        :param str after: continuation token
        :return: DpBackupBlockSnapshotsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_backup_block_snapshots_with_http_info(site_id, dp_gateway_id, cluster_fs_id, block_volume_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_backup_block_snapshots_with_http_info(site_id, dp_gateway_id, cluster_fs_id, block_volume_name, **kwargs)  # noqa: E501
            return data

    def get_backup_block_snapshots_with_http_info(self, site_id, dp_gateway_id, cluster_fs_id, block_volume_name, **kwargs):  # noqa: E501
        """get_backup_block_snapshots  # noqa: E501

        List snapshots of a volume stored on a dp site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_backup_block_snapshots_with_http_info(site_id, dp_gateway_id, cluster_fs_id, block_volume_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :param int dp_gateway_id: the dp gateway to execute the query (required)
        :param str cluster_fs_id: cluster fs id (required)
        :param str block_volume_name: block volume name (required)
        :param str after: continuation token
        :return: DpBackupBlockSnapshotsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_id', 'dp_gateway_id', 'cluster_fs_id', 'block_volume_name', 'after']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_backup_block_snapshots" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_id' is set
        if ('site_id' not in params or
                params['site_id'] is None):
            raise ValueError("Missing the required parameter `site_id` when calling `get_backup_block_snapshots`")  # noqa: E501
        # verify the required parameter 'dp_gateway_id' is set
        if ('dp_gateway_id' not in params or
                params['dp_gateway_id'] is None):
            raise ValueError("Missing the required parameter `dp_gateway_id` when calling `get_backup_block_snapshots`")  # noqa: E501
        # verify the required parameter 'cluster_fs_id' is set
        if ('cluster_fs_id' not in params or
                params['cluster_fs_id'] is None):
            raise ValueError("Missing the required parameter `cluster_fs_id` when calling `get_backup_block_snapshots`")  # noqa: E501
        # verify the required parameter 'block_volume_name' is set
        if ('block_volume_name' not in params or
                params['block_volume_name'] is None):
            raise ValueError("Missing the required parameter `block_volume_name` when calling `get_backup_block_snapshots`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'site_id' in params:
            path_params['site_id'] = params['site_id']  # noqa: E501

        query_params = []
        if 'dp_gateway_id' in params:
            query_params.append(('dp_gateway_id', params['dp_gateway_id']))  # noqa: E501
        if 'cluster_fs_id' in params:
            query_params.append(('cluster_fs_id', params['cluster_fs_id']))  # noqa: E501
        if 'block_volume_name' in params:
            query_params.append(('block_volume_name', params['block_volume_name']))  # noqa: E501
        if 'after' in params:
            query_params.append(('after', params['after']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-sites/{site_id}/backup-block-snapshots', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DpBackupBlockSnapshotsResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_backup_block_volumes(self, site_id, dp_gateway_id, cluster_fs_id, **kwargs):  # noqa: E501
        """get_backup_block_volumes  # noqa: E501

        List volumes of a cluster stored on a dp site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_backup_block_volumes(site_id, dp_gateway_id, cluster_fs_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :param int dp_gateway_id: the dp gateway to execute the query (required)
        :param str cluster_fs_id: cluster fs id (required)
        :param str after: continuation token
        :return: DpBackupBlockVolumesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_backup_block_volumes_with_http_info(site_id, dp_gateway_id, cluster_fs_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_backup_block_volumes_with_http_info(site_id, dp_gateway_id, cluster_fs_id, **kwargs)  # noqa: E501
            return data

    def get_backup_block_volumes_with_http_info(self, site_id, dp_gateway_id, cluster_fs_id, **kwargs):  # noqa: E501
        """get_backup_block_volumes  # noqa: E501

        List volumes of a cluster stored on a dp site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_backup_block_volumes_with_http_info(site_id, dp_gateway_id, cluster_fs_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :param int dp_gateway_id: the dp gateway to execute the query (required)
        :param str cluster_fs_id: cluster fs id (required)
        :param str after: continuation token
        :return: DpBackupBlockVolumesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_id', 'dp_gateway_id', 'cluster_fs_id', 'after']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_backup_block_volumes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_id' is set
        if ('site_id' not in params or
                params['site_id'] is None):
            raise ValueError("Missing the required parameter `site_id` when calling `get_backup_block_volumes`")  # noqa: E501
        # verify the required parameter 'dp_gateway_id' is set
        if ('dp_gateway_id' not in params or
                params['dp_gateway_id'] is None):
            raise ValueError("Missing the required parameter `dp_gateway_id` when calling `get_backup_block_volumes`")  # noqa: E501
        # verify the required parameter 'cluster_fs_id' is set
        if ('cluster_fs_id' not in params or
                params['cluster_fs_id'] is None):
            raise ValueError("Missing the required parameter `cluster_fs_id` when calling `get_backup_block_volumes`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'site_id' in params:
            path_params['site_id'] = params['site_id']  # noqa: E501

        query_params = []
        if 'dp_gateway_id' in params:
            query_params.append(('dp_gateway_id', params['dp_gateway_id']))  # noqa: E501
        if 'cluster_fs_id' in params:
            query_params.append(('cluster_fs_id', params['cluster_fs_id']))  # noqa: E501
        if 'after' in params:
            query_params.append(('after', params['after']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-sites/{site_id}/backup-block-volumes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DpBackupBlockVolumesResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_backup_clusters(self, site_id, dp_gateway_id, **kwargs):  # noqa: E501
        """get_backup_clusters  # noqa: E501

        List clusters stored on a dp site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_backup_clusters(site_id, dp_gateway_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :param int dp_gateway_id: the dp gateway to execute the query (required)
        :return: DpBackupClustersResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_backup_clusters_with_http_info(site_id, dp_gateway_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_backup_clusters_with_http_info(site_id, dp_gateway_id, **kwargs)  # noqa: E501
            return data

    def get_backup_clusters_with_http_info(self, site_id, dp_gateway_id, **kwargs):  # noqa: E501
        """get_backup_clusters  # noqa: E501

        List clusters stored on a dp site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_backup_clusters_with_http_info(site_id, dp_gateway_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :param int dp_gateway_id: the dp gateway to execute the query (required)
        :return: DpBackupClustersResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_id', 'dp_gateway_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_backup_clusters" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_id' is set
        if ('site_id' not in params or
                params['site_id'] is None):
            raise ValueError("Missing the required parameter `site_id` when calling `get_backup_clusters`")  # noqa: E501
        # verify the required parameter 'dp_gateway_id' is set
        if ('dp_gateway_id' not in params or
                params['dp_gateway_id'] is None):
            raise ValueError("Missing the required parameter `dp_gateway_id` when calling `get_backup_clusters`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'site_id' in params:
            path_params['site_id'] = params['site_id']  # noqa: E501

        query_params = []
        if 'dp_gateway_id' in params:
            query_params.append(('dp_gateway_id', params['dp_gateway_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-sites/{site_id}/backup-clusters', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DpBackupClustersResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_dp_site(self, site_id, **kwargs):  # noqa: E501
        """get_dp_site  # noqa: E501

        Get data protection site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_dp_site(site_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: protection site id (required)
        :return: DpSiteResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_dp_site_with_http_info(site_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_dp_site_with_http_info(site_id, **kwargs)  # noqa: E501
            return data

    def get_dp_site_with_http_info(self, site_id, **kwargs):  # noqa: E501
        """get_dp_site  # noqa: E501

        Get data protection site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_dp_site_with_http_info(site_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: protection site id (required)
        :return: DpSiteResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dp_site" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_id' is set
        if ('site_id' not in params or
                params['site_id'] is None):
            raise ValueError("Missing the required parameter `site_id` when calling `get_dp_site`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'site_id' in params:
            path_params['site_id'] = params['site_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-sites/{site_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DpSiteResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_dp_sites(self, **kwargs):  # noqa: E501
        """list_dp_sites  # noqa: E501

        List data protection sites  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_dp_sites(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str q: query param of search
        :param str sort: sort param of search
        :param str protection_type: protection type
        :return: DpSitesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_dp_sites_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_dp_sites_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_dp_sites_with_http_info(self, **kwargs):  # noqa: E501
        """list_dp_sites  # noqa: E501

        List data protection sites  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_dp_sites_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str q: query param of search
        :param str sort: sort param of search
        :param str protection_type: protection type
        :return: DpSitesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'q', 'sort', 'protection_type']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_dp_sites" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'protection_type' in params:
            query_params.append(('protection_type', params['protection_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-sites/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DpSitesResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_dp_site(self, site_id, body, **kwargs):  # noqa: E501
        """update_dp_site  # noqa: E501

        Update a data protection site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_dp_site(site_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :param DpSiteUpdateReq body: dp site info (required)
        :return: DpSiteResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_dp_site_with_http_info(site_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_dp_site_with_http_info(site_id, body, **kwargs)  # noqa: E501
            return data

    def update_dp_site_with_http_info(self, site_id, body, **kwargs):  # noqa: E501
        """update_dp_site  # noqa: E501

        Update a data protection site  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_dp_site_with_http_info(site_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int site_id: dp site id (required)
        :param DpSiteUpdateReq body: dp site info (required)
        :return: DpSiteResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_dp_site" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_id' is set
        if ('site_id' not in params or
                params['site_id'] is None):
            raise ValueError("Missing the required parameter `site_id` when calling `update_dp_site`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_dp_site`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'site_id' in params:
            path_params['site_id'] = params['site_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-sites/{site_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DpSiteResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
