# coding: utf-8

"""
    XMS API

    XMS is the controller of distributed storage system  # noqa: E501

    OpenAPI spec version: SDS_4.2.300.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from zstacklib.utils.xms_client.api_client import ApiClient


class DpVolumeGroupSnapshotReplicationJobsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_dp_volume_group_snapshot_replication_job(self, job_id, **kwargs):  # noqa: E501
        """delete_dp_volume_group_snapshot_replication_job  # noqa: E501

        Delete dp volume group snapshot replication job  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_dp_volume_group_snapshot_replication_job(job_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int job_id: resource id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_dp_volume_group_snapshot_replication_job_with_http_info(job_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_dp_volume_group_snapshot_replication_job_with_http_info(job_id, **kwargs)  # noqa: E501
            return data

    def delete_dp_volume_group_snapshot_replication_job_with_http_info(self, job_id, **kwargs):  # noqa: E501
        """delete_dp_volume_group_snapshot_replication_job  # noqa: E501

        Delete dp volume group snapshot replication job  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_dp_volume_group_snapshot_replication_job_with_http_info(job_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int job_id: resource id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['job_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_dp_volume_group_snapshot_replication_job" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'job_id' is set
        if ('job_id' not in params or
                params['job_id'] is None):
            raise ValueError("Missing the required parameter `job_id` when calling `delete_dp_volume_group_snapshot_replication_job`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'job_id' in params:
            path_params['job_id'] = params['job_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-volume-group-snapshot-replication-jobs/{job_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_dp_volume_group_snapshot_replication_job(self, job_id, **kwargs):  # noqa: E501
        """get_dp_volume_group_snapshot_replication_job  # noqa: E501

        Get dp volume group snapshot replication job  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_dp_volume_group_snapshot_replication_job(job_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int job_id: resource id (required)
        :return: DpVolumeGroupSnapshotReplicationJobResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_dp_volume_group_snapshot_replication_job_with_http_info(job_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_dp_volume_group_snapshot_replication_job_with_http_info(job_id, **kwargs)  # noqa: E501
            return data

    def get_dp_volume_group_snapshot_replication_job_with_http_info(self, job_id, **kwargs):  # noqa: E501
        """get_dp_volume_group_snapshot_replication_job  # noqa: E501

        Get dp volume group snapshot replication job  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_dp_volume_group_snapshot_replication_job_with_http_info(job_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int job_id: resource id (required)
        :return: DpVolumeGroupSnapshotReplicationJobResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['job_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dp_volume_group_snapshot_replication_job" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'job_id' is set
        if ('job_id' not in params or
                params['job_id'] is None):
            raise ValueError("Missing the required parameter `job_id` when calling `get_dp_volume_group_snapshot_replication_job`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'job_id' in params:
            path_params['job_id'] = params['job_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-volume-group-snapshot-replication-jobs/{job_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DpVolumeGroupSnapshotReplicationJobResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_dp_volume_group_snapshot_replication_job(self, **kwargs):  # noqa: E501
        """list_dp_volume_group_snapshot_replication_job  # noqa: E501

        List dp volume group snapshot replication jobs  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_dp_volume_group_snapshot_replication_job(async=True)
        >>> result = thread.get()

        :param async bool
        :param int dp_volume_group_snapshot_replication_pair_id: related pair id
        :return: DpVolumeGroupSnapshotReplicationJobsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_dp_volume_group_snapshot_replication_job_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_dp_volume_group_snapshot_replication_job_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_dp_volume_group_snapshot_replication_job_with_http_info(self, **kwargs):  # noqa: E501
        """list_dp_volume_group_snapshot_replication_job  # noqa: E501

        List dp volume group snapshot replication jobs  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_dp_volume_group_snapshot_replication_job_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int dp_volume_group_snapshot_replication_pair_id: related pair id
        :return: DpVolumeGroupSnapshotReplicationJobsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dp_volume_group_snapshot_replication_pair_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_dp_volume_group_snapshot_replication_job" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'dp_volume_group_snapshot_replication_pair_id' in params:
            query_params.append(('dp_volume_group_snapshot_replication_pair_id', params['dp_volume_group_snapshot_replication_pair_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dp-volume-group-snapshot-replication-jobs/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DpVolumeGroupSnapshotReplicationJobsResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
