# coding: utf-8

"""
    XMS API

    XMS is the controller of distributed storage system  # noqa: E501

    OpenAPI spec version: SDS_4.2.300.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from zstacklib.utils.xms_client.api_client import ApiClient


class FsFoldersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_fs_quota_trees(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """add_fs_quota_trees  # noqa: E501

        add file storage quota trees  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_fs_quota_trees(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: fs folder id (required)
        :param FSFolderAddQuotaTreesReq body: quota trees info (required)
        :return: FSFolderQuotaTreesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_fs_quota_trees_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_fs_quota_trees_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
            return data

    def add_fs_quota_trees_with_http_info(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """add_fs_quota_trees  # noqa: E501

        add file storage quota trees  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_fs_quota_trees_with_http_info(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: fs folder id (required)
        :param FSFolderAddQuotaTreesReq body: quota trees info (required)
        :return: FSFolderQuotaTreesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fs_folder_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_fs_quota_trees" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fs_folder_id' is set
        if ('fs_folder_id' not in params or
                params['fs_folder_id'] is None):
            raise ValueError("Missing the required parameter `fs_folder_id` when calling `add_fs_quota_trees`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_fs_quota_trees`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fs_folder_id' in params:
            path_params['fs_folder_id'] = params['fs_folder_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/{fs_folder_id}/fs-quota-trees', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderQuotaTreesResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_folder(self, body, **kwargs):  # noqa: E501
        """create_folder  # noqa: E501

        Create file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_folder(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param FSFolderCreateReq body: folder info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_folder_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_folder_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_folder_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_folder  # noqa: E501

        Create file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_folder_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param FSFolderCreateReq body: folder info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_folder(self, fs_folder_id, **kwargs):  # noqa: E501
        """delete_folder  # noqa: E501

        delete file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_folder(fs_folder_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: folder id (required)
        :param bool force: force delete
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_folder_with_http_info(fs_folder_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_folder_with_http_info(fs_folder_id, **kwargs)  # noqa: E501
            return data

    def delete_folder_with_http_info(self, fs_folder_id, **kwargs):  # noqa: E501
        """delete_folder  # noqa: E501

        delete file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_folder_with_http_info(fs_folder_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: folder id (required)
        :param bool force: force delete
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fs_folder_id', 'force']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fs_folder_id' is set
        if ('fs_folder_id' not in params or
                params['fs_folder_id'] is None):
            raise ValueError("Missing the required parameter `fs_folder_id` when calling `delete_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fs_folder_id' in params:
            path_params['fs_folder_id'] = params['fs_folder_id']  # noqa: E501

        query_params = []
        if 'force' in params:
            query_params.append(('force', params['force']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/{fs_folder_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_folder(self, fs_folder_id, **kwargs):  # noqa: E501
        """get_folder  # noqa: E501

        Get file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_folder(fs_folder_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: folder id (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_folder_with_http_info(fs_folder_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_folder_with_http_info(fs_folder_id, **kwargs)  # noqa: E501
            return data

    def get_folder_with_http_info(self, fs_folder_id, **kwargs):  # noqa: E501
        """get_folder  # noqa: E501

        Get file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_folder_with_http_info(fs_folder_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: folder id (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fs_folder_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fs_folder_id' is set
        if ('fs_folder_id' not in params or
                params['fs_folder_id'] is None):
            raise ValueError("Missing the required parameter `fs_folder_id` when calling `get_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fs_folder_id' in params:
            path_params['fs_folder_id'] = params['fs_folder_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/{fs_folder_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_fs_folder_samples(self, fs_folder_id, **kwargs):  # noqa: E501
        """get_fs_folder_samples  # noqa: E501

        get a file storage folder's samples  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_fs_folder_samples(fs_folder_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: file storage folder id (required)
        :param str duration_begin: duration begin timestamp
        :param str duration_end: duration end timestamp
        :param str period: samples period
        :return: FSFolderSamplesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_fs_folder_samples_with_http_info(fs_folder_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_fs_folder_samples_with_http_info(fs_folder_id, **kwargs)  # noqa: E501
            return data

    def get_fs_folder_samples_with_http_info(self, fs_folder_id, **kwargs):  # noqa: E501
        """get_fs_folder_samples  # noqa: E501

        get a file storage folder's samples  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_fs_folder_samples_with_http_info(fs_folder_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: file storage folder id (required)
        :param str duration_begin: duration begin timestamp
        :param str duration_end: duration end timestamp
        :param str period: samples period
        :return: FSFolderSamplesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fs_folder_id', 'duration_begin', 'duration_end', 'period']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_fs_folder_samples" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fs_folder_id' is set
        if ('fs_folder_id' not in params or
                params['fs_folder_id'] is None):
            raise ValueError("Missing the required parameter `fs_folder_id` when calling `get_fs_folder_samples`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fs_folder_id' in params:
            path_params['fs_folder_id'] = params['fs_folder_id']  # noqa: E501

        query_params = []
        if 'duration_begin' in params:
            query_params.append(('duration_begin', params['duration_begin']))  # noqa: E501
        if 'duration_end' in params:
            query_params.append(('duration_end', params['duration_end']))  # noqa: E501
        if 'period' in params:
            query_params.append(('period', params['period']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/{fs_folder_id}/samples', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderSamplesResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_folders(self, **kwargs):  # noqa: E501
        """list_folders  # noqa: E501

        List file storage folders  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_folders(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str q: query param of search
        :param str sort: sort param of search
        :param int fs_user_id: file storage user id
        :param int fs_user_group_id: file storage user group id
        :param int fs_gateway_group_id: file storage gateway group id
        :param int fs_snapshot_id: file storage snapshot id
        :param int fs_client_id: file storage client id
        :param int fs_client_group_id: file storage client group id
        :param int pool_id: pool id
        :return: FSFoldersResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_folders_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_folders_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_folders_with_http_info(self, **kwargs):  # noqa: E501
        """list_folders  # noqa: E501

        List file storage folders  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_folders_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str q: query param of search
        :param str sort: sort param of search
        :param int fs_user_id: file storage user id
        :param int fs_user_group_id: file storage user group id
        :param int fs_gateway_group_id: file storage gateway group id
        :param int fs_snapshot_id: file storage snapshot id
        :param int fs_client_id: file storage client id
        :param int fs_client_group_id: file storage client group id
        :param int pool_id: pool id
        :return: FSFoldersResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'q', 'sort', 'fs_user_id', 'fs_user_group_id', 'fs_gateway_group_id', 'fs_snapshot_id', 'fs_client_id', 'fs_client_group_id', 'pool_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_folders" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'fs_user_id' in params:
            query_params.append(('fs_user_id', params['fs_user_id']))  # noqa: E501
        if 'fs_user_group_id' in params:
            query_params.append(('fs_user_group_id', params['fs_user_group_id']))  # noqa: E501
        if 'fs_gateway_group_id' in params:
            query_params.append(('fs_gateway_group_id', params['fs_gateway_group_id']))  # noqa: E501
        if 'fs_snapshot_id' in params:
            query_params.append(('fs_snapshot_id', params['fs_snapshot_id']))  # noqa: E501
        if 'fs_client_id' in params:
            query_params.append(('fs_client_id', params['fs_client_id']))  # noqa: E501
        if 'fs_client_group_id' in params:
            query_params.append(('fs_client_group_id', params['fs_client_group_id']))  # noqa: E501
        if 'pool_id' in params:
            query_params.append(('pool_id', params['pool_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFoldersResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_fs_quota_trees(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """remove_fs_quota_trees  # noqa: E501

        delete fs quota trees from fs folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.remove_fs_quota_trees(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: fs folder id (required)
        :param FSFolderRemoveQuotaTreesReq body: quota trees info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.remove_fs_quota_trees_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_fs_quota_trees_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
            return data

    def remove_fs_quota_trees_with_http_info(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """remove_fs_quota_trees  # noqa: E501

        delete fs quota trees from fs folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.remove_fs_quota_trees_with_http_info(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: fs folder id (required)
        :param FSFolderRemoveQuotaTreesReq body: quota trees info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fs_folder_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_fs_quota_trees" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fs_folder_id' is set
        if ('fs_folder_id' not in params or
                params['fs_folder_id'] is None):
            raise ValueError("Missing the required parameter `fs_folder_id` when calling `remove_fs_quota_trees`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `remove_fs_quota_trees`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fs_folder_id' in params:
            path_params['fs_folder_id'] = params['fs_folder_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/{fs_folder_id}/fs-quota-trees', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def roll_back_folder(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """roll_back_folder  # noqa: E501

        roll back file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.roll_back_folder(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: folder id (required)
        :param FSFolderRollBackReq body: folder info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.roll_back_folder_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.roll_back_folder_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
            return data

    def roll_back_folder_with_http_info(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """roll_back_folder  # noqa: E501

        roll back file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.roll_back_folder_with_http_info(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: folder id (required)
        :param FSFolderRollBackReq body: folder info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fs_folder_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method roll_back_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fs_folder_id' is set
        if ('fs_folder_id' not in params or
                params['fs_folder_id'] is None):
            raise ValueError("Missing the required parameter `fs_folder_id` when calling `roll_back_folder`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `roll_back_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fs_folder_id' in params:
            path_params['fs_folder_id'] = params['fs_folder_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/{fs_folder_id}:roll-back', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def set_fs_snapshot_protection(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """set_fs_snapshot_protection  # noqa: E501

        Set snapshot protection for a fs folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.set_fs_snapshot_protection(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: fs folder id in db (required)
        :param FSFolderSnapshotProtectionReq body: request info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.set_fs_snapshot_protection_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.set_fs_snapshot_protection_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
            return data

    def set_fs_snapshot_protection_with_http_info(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """set_fs_snapshot_protection  # noqa: E501

        Set snapshot protection for a fs folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.set_fs_snapshot_protection_with_http_info(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: fs folder id in db (required)
        :param FSFolderSnapshotProtectionReq body: request info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fs_folder_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method set_fs_snapshot_protection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fs_folder_id' is set
        if ('fs_folder_id' not in params or
                params['fs_folder_id'] is None):
            raise ValueError("Missing the required parameter `fs_folder_id` when calling `set_fs_snapshot_protection`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `set_fs_snapshot_protection`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fs_folder_id' in params:
            path_params['fs_folder_id'] = params['fs_folder_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/{fs_folder_id}:set-snapshot-protection', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def unset_fs_snapshot_protection(self, fs_folder_id, **kwargs):  # noqa: E501
        """unset_fs_snapshot_protection  # noqa: E501

        Unset snapshot protection for a fs folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.unset_fs_snapshot_protection(fs_folder_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: fs_folder id in db (required)
        :param bool force: force unset or not
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.unset_fs_snapshot_protection_with_http_info(fs_folder_id, **kwargs)  # noqa: E501
        else:
            (data) = self.unset_fs_snapshot_protection_with_http_info(fs_folder_id, **kwargs)  # noqa: E501
            return data

    def unset_fs_snapshot_protection_with_http_info(self, fs_folder_id, **kwargs):  # noqa: E501
        """unset_fs_snapshot_protection  # noqa: E501

        Unset snapshot protection for a fs folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.unset_fs_snapshot_protection_with_http_info(fs_folder_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: fs_folder id in db (required)
        :param bool force: force unset or not
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fs_folder_id', 'force']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method unset_fs_snapshot_protection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fs_folder_id' is set
        if ('fs_folder_id' not in params or
                params['fs_folder_id'] is None):
            raise ValueError("Missing the required parameter `fs_folder_id` when calling `unset_fs_snapshot_protection`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fs_folder_id' in params:
            path_params['fs_folder_id'] = params['fs_folder_id']  # noqa: E501

        query_params = []
        if 'force' in params:
            query_params.append(('force', params['force']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/{fs_folder_id}:unset-snapshot-protection', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_folder(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """update_folder  # noqa: E501

        Update file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_folder(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: folder id (required)
        :param FSFolderUpdateReq body: folder info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_folder_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_folder_with_http_info(fs_folder_id, body, **kwargs)  # noqa: E501
            return data

    def update_folder_with_http_info(self, fs_folder_id, body, **kwargs):  # noqa: E501
        """update_folder  # noqa: E501

        Update file storage folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_folder_with_http_info(fs_folder_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int fs_folder_id: folder id (required)
        :param FSFolderUpdateReq body: folder info (required)
        :return: FSFolderResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fs_folder_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fs_folder_id' is set
        if ('fs_folder_id' not in params or
                params['fs_folder_id'] is None):
            raise ValueError("Missing the required parameter `fs_folder_id` when calling `update_folder`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fs_folder_id' in params:
            path_params['fs_folder_id'] = params['fs_folder_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/fs-folders/{fs_folder_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FSFolderResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
