# coding: utf-8

"""
    XMS API

    XMS is the controller of distributed storage system  # noqa: E501

    OpenAPI spec version: SDS_4.2.300.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from zstacklib.utils.xms_client.api_client import ApiClient


class OsReplicationPathsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_os_replication_path(self, path_uuid, **kwargs):  # noqa: E501
        """get_os_replication_path  # noqa: E501

        Get a os replication path  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_os_replication_path(path_uuid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str path_uuid: replication path uuid (required)
        :return: OSReplicationPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_os_replication_path_with_http_info(path_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_os_replication_path_with_http_info(path_uuid, **kwargs)  # noqa: E501
            return data

    def get_os_replication_path_with_http_info(self, path_uuid, **kwargs):  # noqa: E501
        """get_os_replication_path  # noqa: E501

        Get a os replication path  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_os_replication_path_with_http_info(path_uuid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str path_uuid: replication path uuid (required)
        :return: OSReplicationPathResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['path_uuid']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_os_replication_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'path_uuid' is set
        if ('path_uuid' not in params or
                params['path_uuid'] is None):
            raise ValueError("Missing the required parameter `path_uuid` when calling `get_os_replication_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path_uuid' in params:
            path_params['path_uuid'] = params['path_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/os-replication-paths/{path_uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OSReplicationPathResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_os_replication_paths(self, **kwargs):  # noqa: E501
        """list_os_replication_paths  # noqa: E501

        List os replication paths  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_os_replication_paths(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str marker: paging param
        :param str replication_uuid: os replication uuid
        :param bool allow_unknown_zone: allow has nil zone result(default true)
        :return: OSReplicationPathsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_os_replication_paths_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_os_replication_paths_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_os_replication_paths_with_http_info(self, **kwargs):  # noqa: E501
        """list_os_replication_paths  # noqa: E501

        List os replication paths  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_os_replication_paths_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str marker: paging param
        :param str replication_uuid: os replication uuid
        :param bool allow_unknown_zone: allow has nil zone result(default true)
        :return: OSReplicationPathsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'marker', 'replication_uuid', 'allow_unknown_zone']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_os_replication_paths" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'marker' in params:
            query_params.append(('marker', params['marker']))  # noqa: E501
        if 'replication_uuid' in params:
            query_params.append(('replication_uuid', params['replication_uuid']))  # noqa: E501
        if 'allow_unknown_zone' in params:
            query_params.append(('allow_unknown_zone', params['allow_unknown_zone']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/os-replication-paths/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OSReplicationPathsResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
