# coding: utf-8

"""
    XMS API

    XMS is the controller of distributed storage system  # noqa: E501

    OpenAPI spec version: SDS_4.2.300.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from zstacklib.utils.xms_client.api_client import ApiClient


class S3LoadBalancerGroupsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_s3_load_balancers_to_group(self, group_id, body, **kwargs):  # noqa: E501
        """add_s3_load_balancers_to_group  # noqa: E501

        add load balancers to group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_s3_load_balancers_to_group(group_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: group id (required)
        :param S3LoadBalancersAddReq body: load balancer ids to add (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_s3_load_balancers_to_group_with_http_info(group_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_s3_load_balancers_to_group_with_http_info(group_id, body, **kwargs)  # noqa: E501
            return data

    def add_s3_load_balancers_to_group_with_http_info(self, group_id, body, **kwargs):  # noqa: E501
        """add_s3_load_balancers_to_group  # noqa: E501

        add load balancers to group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_s3_load_balancers_to_group_with_http_info(group_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: group id (required)
        :param S3LoadBalancersAddReq body: load balancer ids to add (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_s3_load_balancers_to_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `add_s3_load_balancers_to_group`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_s3_load_balancers_to_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group_id'] = params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/s3-load-balancer-groups/{group_id}/s3-load-balancers', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='S3LoadBalancerGroupResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_s3_load_balancer_group(self, body, **kwargs):  # noqa: E501
        """create_s3_load_balancer_group  # noqa: E501

        Create a s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_s3_load_balancer_group(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param S3LoadBalancerGroupCreateReq body: s3 load balancer group info (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_s3_load_balancer_group_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_s3_load_balancer_group_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_s3_load_balancer_group_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_s3_load_balancer_group  # noqa: E501

        Create a s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_s3_load_balancer_group_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param S3LoadBalancerGroupCreateReq body: s3 load balancer group info (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_s3_load_balancer_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_s3_load_balancer_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/s3-load-balancer-groups/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='S3LoadBalancerGroupResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_s3_load_balancer_group(self, group_id, **kwargs):  # noqa: E501
        """delete_s3_load_balancer_group  # noqa: E501

        Delete s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_s3_load_balancer_group(group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: s3 load balancer group id (required)
        :param bool force: forcedly delete or not
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_s3_load_balancer_group_with_http_info(group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_s3_load_balancer_group_with_http_info(group_id, **kwargs)  # noqa: E501
            return data

    def delete_s3_load_balancer_group_with_http_info(self, group_id, **kwargs):  # noqa: E501
        """delete_s3_load_balancer_group  # noqa: E501

        Delete s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_s3_load_balancer_group_with_http_info(group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: s3 load balancer group id (required)
        :param bool force: forcedly delete or not
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id', 'force']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_s3_load_balancer_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `delete_s3_load_balancer_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group_id'] = params['group_id']  # noqa: E501

        query_params = []
        if 'force' in params:
            query_params.append(('force', params['force']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/s3-load-balancer-groups/{group_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='S3LoadBalancerGroupResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_s3_load_balancer_group(self, group_id, **kwargs):  # noqa: E501
        """get_s3_load_balancer_group  # noqa: E501

        Get s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_s3_load_balancer_group(group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: s3 load balancer group id (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_s3_load_balancer_group_with_http_info(group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_s3_load_balancer_group_with_http_info(group_id, **kwargs)  # noqa: E501
            return data

    def get_s3_load_balancer_group_with_http_info(self, group_id, **kwargs):  # noqa: E501
        """get_s3_load_balancer_group  # noqa: E501

        Get s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_s3_load_balancer_group_with_http_info(group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: s3 load balancer group id (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_s3_load_balancer_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `get_s3_load_balancer_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group_id'] = params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/s3-load-balancer-groups/{group_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='S3LoadBalancerGroupResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_s3_load_balancer_groups(self, **kwargs):  # noqa: E501
        """list_s3_load_balancer_groups  # noqa: E501

        List s3 load balancer groups  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_s3_load_balancer_groups(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str q: query param of search
        :param str sort: sort param of search
        :return: S3LoadBalancerGroupsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_s3_load_balancer_groups_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_s3_load_balancer_groups_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_s3_load_balancer_groups_with_http_info(self, **kwargs):  # noqa: E501
        """list_s3_load_balancer_groups  # noqa: E501

        List s3 load balancer groups  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_s3_load_balancer_groups_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str q: query param of search
        :param str sort: sort param of search
        :return: S3LoadBalancerGroupsResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'q', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_s3_load_balancer_groups" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/s3-load-balancer-groups/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='S3LoadBalancerGroupsResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def redeploy_s3_load_balancer_group(self, group_id, **kwargs):  # noqa: E501
        """redeploy_s3_load_balancer_group  # noqa: E501

        Redeploy a s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.redeploy_s3_load_balancer_group(group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: s3 load balancer group id (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.redeploy_s3_load_balancer_group_with_http_info(group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.redeploy_s3_load_balancer_group_with_http_info(group_id, **kwargs)  # noqa: E501
            return data

    def redeploy_s3_load_balancer_group_with_http_info(self, group_id, **kwargs):  # noqa: E501
        """redeploy_s3_load_balancer_group  # noqa: E501

        Redeploy a s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.redeploy_s3_load_balancer_group_with_http_info(group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: s3 load balancer group id (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method redeploy_s3_load_balancer_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `redeploy_s3_load_balancer_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group_id'] = params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/s3-load-balancer-groups/{group_id}:redeploy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='S3LoadBalancerGroupResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_s3_load_balancers_from_group(self, group_id, body, **kwargs):  # noqa: E501
        """remove_s3_load_balancers_from_group  # noqa: E501

        remove load balancers from group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.remove_s3_load_balancers_from_group(group_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: group id (required)
        :param S3LoadBalancersRemoveReq body: load balancer ids to remove (required)
        :param bool force: forcedly remove or not
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.remove_s3_load_balancers_from_group_with_http_info(group_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_s3_load_balancers_from_group_with_http_info(group_id, body, **kwargs)  # noqa: E501
            return data

    def remove_s3_load_balancers_from_group_with_http_info(self, group_id, body, **kwargs):  # noqa: E501
        """remove_s3_load_balancers_from_group  # noqa: E501

        remove load balancers from group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.remove_s3_load_balancers_from_group_with_http_info(group_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: group id (required)
        :param S3LoadBalancersRemoveReq body: load balancer ids to remove (required)
        :param bool force: forcedly remove or not
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id', 'body', 'force']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_s3_load_balancers_from_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `remove_s3_load_balancers_from_group`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `remove_s3_load_balancers_from_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group_id'] = params['group_id']  # noqa: E501

        query_params = []
        if 'force' in params:
            query_params.append(('force', params['force']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/s3-load-balancer-groups/{group_id}/s3-load-balancers', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='S3LoadBalancerGroupResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_s3_load_balancer_group(self, group_id, body, **kwargs):  # noqa: E501
        """update_s3_load_balancer_group  # noqa: E501

        Update a s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_s3_load_balancer_group(group_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: s3 load balancer group id (required)
        :param S3LoadBalancerGroupUpdateReq body: s3 load balancer group info (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_s3_load_balancer_group_with_http_info(group_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_s3_load_balancer_group_with_http_info(group_id, body, **kwargs)  # noqa: E501
            return data

    def update_s3_load_balancer_group_with_http_info(self, group_id, body, **kwargs):  # noqa: E501
        """update_s3_load_balancer_group  # noqa: E501

        Update a s3 load balancer group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_s3_load_balancer_group_with_http_info(group_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int group_id: s3 load balancer group id (required)
        :param S3LoadBalancerGroupUpdateReq body: s3 load balancer group info (required)
        :return: S3LoadBalancerGroupResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_s3_load_balancer_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `update_s3_load_balancer_group`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_s3_load_balancer_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group_id'] = params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/s3-load-balancer-groups/{group_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='S3LoadBalancerGroupResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
