[Unit]
Description=pxe-server-promethus-pushgateway

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/var/lib/zstack/baremetal/pushgateway --persistence.file /var/lib/zstack/baremetal/persistence.data --persistence.interval 1m --web.listen-address :9093

Restart=always
RestartSec=120s

[Install]
WantedBy=multi-user.target
